/* Other rules */
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* HEADER */

.header {
  border-bottom: 1px solid #e8ebeb;
}

.header img {
  height: 50px;
}

/* SECTION RESTAURANT */

.section-1 {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  margin-bottom: 5px;
  background-color: white;
}

.col-1 h1 {
  font-size: 32px;
  line-height: 29px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #2e3333;
}

.col-1 p {
  color: #868a8a;
  font-size: 20px;
  line-height: 28px;
}

.col-2 img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-left: 30px;
}

/* SECTION MENU & MEAL */

.section-2 {
  background-color: #f2f5f5;
  padding-top: 20px;
}

.menu {
  width: 68%;
  display: flex;
  flex-direction: column;
}

.menu-box h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.menu-offer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.meal {
  box-sizing: border-box;
  width: 410px;
  height: 160px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
}

.meal-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meal-description h3 {
  font-size: 18px;
}

.meal-description p {
  font-size: 14px;
  height: 40px;
  overflow: hidden;
  line-height: 22px;
  color: #808484;
  line-height: 21px;
}

.meal-pic img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.meal:hover {
  cursor: pointer;
  transition-duration: 0.3s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

/* SECTION CART */

.cart-box {
  width: 350px;
  margin-top: 25px;
  box-sizing: border-box;
}

.cart {
  box-sizing: border-box;
  min-height: 185px;
  width: 100%;
  background-color: #fff;
  height: auto;
  border-radius: 10px;
  padding: 12px;
}

.cart .button {
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #03cdbd;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
}

.cart .disabled {
  background-color: #bac3c3;
  color: #8b9a9b;
  cursor: not-allowed;
}

.items {
  border-bottom: 1px solid #d1d7d7;
  margin: 0 10px;
  max-height: calc(100vh - 300px);
  overflow: auto;
}

.item-box {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 300px;
}

.counter {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #808484;
  box-sizing: border-box;
}

.items-name {
  flex: 1 1;
  box-sizing: border-box;
}

.items-amount {
  width: 85px;
  text-align: right;
  box-sizing: border-box;
}

.operation {
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: 1px solid #d1d7d7;
  box-sizing: border-box;
}

.operation div {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.total {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 16px;
  padding: 1.3rem 0;
  margin: 0 10px;
  font-weight: 600;
  font-size: 1.2rem;
}

.empty {
  color: #868a8a;
  text-align: center;
  padding: 3rem 0;
  box-sizing: border-box;
}
